<?xml version="1.0" encoding="utf-8"?><!--
 Copyright (C) 2009 University of Washington Licensed under the Apache
License, Version 2.0 (the "License"); you may not use this file except in
compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
OR CONDITIONS OF ANY KIND, either express or implied. See the License for
the specific language governing permissions and limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="redrose.one"
    android:sharedUserMaxSdkVersion="32">

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <!-- Dangerous permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.NFC" />
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->

    <!-- Normal permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
        Since we use Scoped Storage, we should not need this permission. However, we discovered that
        this might be required in some rare cases, probably due to bugs in Android OS.
        See: https://github.com/getodk/collect/issues/5145
     -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Removed in API 23 -->
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <!--
    for Maps v2 functionality, want:
    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
    uses-feature android:glEsVersion="0x00020000" android:required="false"
    BUT, the gl setting is not modified by the required parameter, so
    do not declare anything here - detect capabilities at runtime.

    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
-->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".application.Collect"
        android:icon="@drawable/notes"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.MainMenuActivity"
            android:configChanges="locale|orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.ScannerWithFlashlightActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.FormEntryActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.NotificationActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activities.DrawActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.GoogleDriveActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.InstanceChooserList"
            android:exported="true" />
        <activity
            android:name=".activities.FormChooserListActivity"
            android:exported="true" />
        <activity
            android:name=".activities.FormDownloadList"
            android:exported="true" />
        <activity
            android:name=".activities.FileManagerTabs"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.GoogleSheetsUploaderActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.InstanceUploaderListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".activities.InstanceUploaderActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AboutActivity"
            android:exported="true" />
        <activity
            android:name=".preferences.PreferencesActivity"
            android:exported="true" />
        <activity
            android:name=".preferences.AdminPreferencesActivity"
            android:exported="true" />
        <activity
            android:name=".activities.FormHierarchyActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ViewOnlyFormHierarchyActivity"
            android:exported="true" />
        <activity
            android:name=".activities.GeoPointActivity"
            android:exported="true" />
        <activity
            android:name=".activities.GeoPointMapActivity"
            android:configChanges="orientation"
            android:exported="true" />
        <activity
            android:name=".activities.GeoPolyActivity"
            android:configChanges="orientation"
            android:exported="true" />
        <activity
            android:name=".activities.BearingActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activities.CaptureSelfieActivity"
            android:exported="true" />
        <activity
            android:name=".activities.CaptureSelfieActivityNewApi"
            android:exported="true" />
        <activity
            android:name=".activities.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".activities.CaptureSelfieVideoActivity"
            android:exported="true" />
        <activity
            android:name=".activities.CaptureSelfieVideoActivityNewApi"
            android:exported="true" />

        <!-- Configure this key by setting GOOGLE_MAPS_API_KEY in collect_app/secrets.properties. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" /> <!-- integer/google_play_services_version -->

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="@bool/CRASHLYTICS_ENABLED" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <!--
             ******************External API, DO NOT CHANGE BEFORE DISCUSSING***********************
             * The providers and activities below are available for external applications to      *
             * integrate with and are actively in use. If one of these needs to change for some   *
             * reason, it needs to be placed on a deprecation path so users can adapt before the  *
             * change. If an activity needs to be renamed internally, use an activity-alias. If   *
             * the external API needs to be expanded, introduce carefully-named actions.          *
             **************************************************************************************
         -->

        <provider
            android:name=".provider.FormsProvider"
            android:authorities="${applicationId}.provider.odk.forms"
            android:exported="true" />
        <provider
            android:name=".provider.InstanceProvider"
            android:authorities="${applicationId}.provider.odk.instances"
            android:exported="true" />

        <activity-alias
            android:name=".activities.FormEntryActivity"
            android:exported="true"
            android:targetActivity=".activities.FormEntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.odk.form" />
                <data android:mimeType="vnd.android.cursor.item/vnd.odk.instance" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.InstanceChooserList"
            android:exported="true"
            android:targetActivity=".activities.InstanceChooserList">
            <intent-filter android:scheme="http">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.instance" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.FormChooserList"
            android:exported="true"
            android:targetActivity=".activities.FormChooserListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.form" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.FormDownloadList"
            android:exported="true"
            android:targetActivity=".activities.FormDownloadList">
            <intent-filter>
                <action android:name="com.redrosecps.collect.android.FORM_DOWNLOAD" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.form" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.InstanceUploaderList"
            android:exported="true"
            android:targetActivity=".activities.InstanceUploaderListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.InstanceUploaderActivity"
            android:exported="true"
            android:targetActivity=".activities.InstanceUploaderActivity">
            <intent-filter>
                <action android:name="com.redrosecps.collect.android.INSTANCE_UPLOAD" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.odk.instance" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashScreenActivity"
            android:exported="true"
            android:targetActivity=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Enable Shortcuts for Command Actions -->
        <activity
            android:name=".activities.AndroidShortcuts"
            android:exported="true"
            android:label="ODK Form"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivateBeneficiaryCardActivity"
            android:exported="true"
            android:label="@string/title_activity_activate_beneficiary_card"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.redrosecps.collect.android.activities.ACTIVATE_BENEFICIARY_CARD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
